// Ajout du fichier de variables
@use 'src/styles/vars';

.header {
  padding: 1em 2em; 
  background-color: vars.$dark-color;
  
  &--title {
    font-size: 1.2em;
    color: vars.$light-color;
    font-weight: 500;

    &--span {
      font-size: 0.5em;;
    }
  }
}
