// Ajout du fichier de variables
  @use 'src/styles/vars';
  
.footer {
  background-color: vars.$dark-color;
  padding: 1em 2em;
  width: 100%;
  
  &--credits {
    color: vars.$light-color;
    font-size: 0.5em;
    
  }
}
