// Ajout du fichier de variables
@use 'src/styles/vars';

.map {
  width: 900px;
  background-color: vars.$light-color;
  border-radius: 5px;
  background-size: 100%;
  background-repeat: no-repeat; 
  height: 550px;
  
   
}
