// Ajout du fichier de variables
@use 'src/styles/vars';

.map {
  width: 70%;
  background-color: vars.$light-color;
  border-radius: 5px;
  border: 1em solid vars.$light-color;
  background-size: 100%;
  background-repeat: no-repeat; 
  height: min-content;
   
}
